body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	background: #EEF2F5;
}

.container {
	width: 585px;
	height: 690px;
	border-radius: 19.6px;
	background: #FFF;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10);
}

.registration-form #title {
	color: #0366FF;
	font-family: Inter;
	font-size: 30px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-top: 85px;
	margin-left: 80px;
}

.registration-form #description {
	color: #545454;
	font-family: Poppins;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-left: 80px;
	margin-top: 12px;
	margin-bottom: 28px;
}

.input-label{
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 5px;
	color: #0C0C0C;
	font-family: Poppins;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;	
}

.input {
    width: 81%;
	height: 40px;
	flex-shrink: 0;
	border-radius: 8px;
	border: 2px solid hsl(240, 2%, 90%);
	background: #FFF;
	color: #0C0C0C;
	font-family: Poppins;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	padding-left: 10px;
}

input::-ms-reveal,
input::-ms-clear {
	display: none;
}

.registration-form .input:focus {
	outline: none;
	border: 2px solid #0366FF;
}

#input{
	margin-left: 80px;
}

#input #name{
    display: flex;
}

#input #name #left{
    width: 50%;
}

#input #name #firstName{
	width: 90%;
}

#input #name #lastName{
	width: 90%;
}

#input #name #right{
    width: 50%;
    margin-right: 70px;
}

#input #email-dob{
	display: flex;
}

#input #email-dob #left{
	width: 70%;
}

#input #email-dob #left #email{
	width: 91.5%;
}

#input #email-dob #right{
	width: 43%;
	margin-right: 93px;
}

#input #email-dob #right #dateOfBirth{
	width: 100%;
}

#error-message {
	visibility: hidden;
	font-family: Poppins;
	font-size: 14px;
	color: red;
	margin-top: 10px;
	font-style: normal; 
	font-weight: 500;
	text-align: start;
	margin-left: 80px;
}

#btn-div {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 40px;
}

#register-btn {
	position: relative;
	width: 423.6px;
	height: 40px;
	flex-shrink: 0;
	border: solid hsl(216, 100%, 51%);
	border-radius: 10px;
	background-color: hsl(216, 100%, 51%);
	color: #FFF;
	font-family: Poppins;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	align-self: center;
	cursor: pointer;
}

#register-btn:hover {
	border: solid hsl(216, 100%, 56%);
	background-color: hsl(216, 100%, 56%);
}

.button-loading .button-text {
    visibility: hidden;
    opacity: 0;
}

.button-loading::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
	from {
	  transform: rotate(0turn);
	}
  
	to {
	  transform: rotate(1turn);
	}
}

.log-in-label {
	margin: 0;
	font-size: 13px;
	color: #747474;
	font-family: Poppins;
	text-align: center;
	margin-top: 10px;
}

.log-in-link {
	margin-left: 1px;
	font-size: 13px;
	text-decoration: none;
	color: #0366FF;
	cursor: pointer;
	font-weight: 600;
	font-family: Poppins;
}

.log-in-link:hover {
	text-decoration: underline;
}